server:
  port: 8082
spring:
  rabbitmq:
    host: localhost
    port: 5600
    username: guest
    password: guest
    request:
      exchenge:
        producer: ex.producer.aula-spring
      routing-key:
        producer: rk.producer.aula-spring
      dead-letter:
        producer: dl.producer.aula-spring
